/* Starting variables */
:root {

/* Font/text values */
--unnamed-font-family-poppins: Poppins;
--unnamed-font-style-normal: normal;
--unnamed-font-weight-600: 600px;
--unnamed-font-weight-normal: normal;
--unnamed-font-weight-bold: bold;
--unnamed-font-size-16: 16px;
--unnamed-font-size-25: 25px;
--unnamed-font-size-48: 48px;
--unnamed-font-size-53: 53px;
--unnamed-character-spacing-0-56: 0.56px;
--unnamed-character-spacing-0-58: 0.58px;
--unnamed-character-spacing-1-68: 1.68px;
--unnamed-character-spacing-0-64: 0.64px;
--unnamed-line-spacing-28: 28px;
--unnamed-line-spacing-34: 34px;
--unnamed-line-spacing-49: 49px;
--unnamed-line-spacing-55: 55px;
--unnamed-text-transform-titlecase: titlecase;
}
/* remove boostrap outline */
.btn:focus,
textarea:focus, 
textarea.form-control:focus, 
input.form-control:focus, 
input[type=text]:focus, 
input[type=password]:focus, 
input[type=email]:focus, 
input[type=number]:focus, 
[type=text].form-control:focus, 
[type=password].form-control:focus, 
[type=email].form-control:focus, 
[type=tel].form-control:focus, 
[contenteditable].form-control:focus {
  box-shadow: inset 0 -1px 0 #ddd;
}

/* Character Styles */
.mainheading2 {
font-family: var(--unnamed-font-family-poppins);
font-style: var(--unnamed-font-style-normal);
font-weight: var(--unnamed-font-weight-normal);
font-size: var(--unnamed-font-size-48);
line-height: var(--unnamed-line-spacing-49);
letter-spacing: var(--unnamed-character-spacing-0-58);
color: #fff;
text-transform: var(--unnamed-text-transform-titlecase);
}
.mainheading {
font-family: var(--unnamed-font-family-poppins);
font-style: var(--unnamed-font-style-normal);
font-weight: var(--unnamed-font-weight-600);
font-size: var(--unnamed-font-size-53);
line-height: var(--unnamed-line-spacing-55);
letter-spacing: var(--unnamed-character-spacing-0-64);
color: #fff;
text-transform: var(--unnamed-text-transform-titlecase);
}
.subheading {
font-family: var(--unnamed-font-family-poppins);
font-style: var(--unnamed-font-style-normal);
font-weight: var(--unnamed-font-weight-bold);
font-size: var(--unnamed-font-size-25);
line-height: var(--unnamed-line-spacing-34);
letter-spacing: var(--unnamed-character-spacing-1-68);
color: var(--unnamed-color-042031);
}

.card{
    border-radius:12px !important;
}
.btn-outline-info{
    border: 1px solid #7E35FE !important;
    color: #7E35FE !important;
    border-radius: 5px !important;

    opacity: 1;
}

.btn-outline-info:hover,.btn-outline-info:focus{

    border: 1px solid #7E35FE !important;
    background: #7E35FE !important;
    color: #fff !important;
    border-radius: 5px !important;
    outline:none !important;
    opacity: 1;
}
.btn-info{
    background: #7E35FE !important;
    border-radius: 5px !important;
    color:#fff;
    opacity: 1;
}

.btn-info:hover,.btn-info:focus{

    background: #7E35FE !important;
    color: #fff !important;
    border-radius: 5px !important;
    outline:none !important;
    opacity: 1;
}
/* 1st section */

.bgcolor{
    font-family: var(--unnamed-font-family-poppins);
    font-style: var(--unnamed-font-style-normal);
    background: #430064;
}
.bgcolor1{
    font-family: var(--unnamed-font-family-poppins);
    font-style: var(--unnamed-font-style-normal);
    background:#360263;
}
.bgcolor2{
    font-family: var(--unnamed-font-family-poppins);
    font-style: var(--unnamed-font-style-normal);
    background: #1e015e;
    color:#fff !important;
}
.navul{
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) 17px/26px var(--unnamed-font-family-poppins);
    text-align: left;
    font: normal normal normal 17px/26px Poppins;
    letter-spacing: 0.37px;
    color: #FFFFFF !important;
    text-transform: uppercase;
    opacity: 1;
}
.navul > li{
    margin-left:20px;
}


/* section{
    min-height: 80vh;
} */

.landingheading{
font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-bold) 50px/59px var(--unnamed-font-family-poppins);
text-align: left;
font: normal normal bold 50px/59px Poppins;
letter-spacing: 3.9px;
color: #FFFFFF;
opacity: 1;
}


.landingpara{
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) 18px/27px var(--unnamed-font-family-poppins);
text-align: left;
font: normal normal normal 18px/27px Poppins;
letter-spacing: 0.4px;
color: #FFFFFF;
opacity: 1;
}

.heading{
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-bold) 36px/37px var(--unnamed-font-family-poppins);
    font: normal normal bold 36px/37px Poppins;
    letter-spacing: 2.41px;
    color: #FFFFFF;
    opacity: 1;
}
.para{
    letter-spacing: 0.63px;
    color: #FFFFFF;
    opacity: 1;
}
.color{
    color: #7E35FE;
}
.bold{
    font-weight:bold;
    
}

.btn-light{
    color: #430064 !important;
}

#upperdots{
    position: absolute;
    left: 100px;
    z-index:1;
}
#mainimage{
    position: absolute;
    left: 70px;    
    top:40px;
    z-index: 3;
}
#lowerdots{
    position: absolute;
    right: 45px;    
    top:255px;
    z-index: 2;
    
}

#purpleTri{
    position:relative;
    left:50px;
    top:-60px;
}
#whiteTri{
    position:absolute;
    right:0px;
    top:400px;

}
/* Section 2 */
#section2{
    background: #360263 url('../images/background Img.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    
}
.smallRect{
    background: #7E35FE 0% 0% no-repeat padding-box;
    border-radius: 12px;
    opacity: 1;
    width: 58px;
    height: 58px;
}
#wallpaper,
#tablet {
  position: absolute;
}

#wallpaper {
  width: 200px;
  top: 70px;
  left: 110px;
}

#tablet {
  width: 400px;
}


/* Section 3 */
.outerElipse{
    width: 165px;
    height: 165px;
    background: #f6f2fc;
    border-radius: 100%;
    display: inline-block;
    position:relative;
    left:12%;

}
.innerElipse{
    width: 125px;
    height: 125px;
    display: inline-block;
    background: #7E35FE;
    border-radius: 100%;
    position:absolute;
    left:12%; 
    top:12%; 
    
}
/*  Section 4 */
.NextPrev{
    background: #1e015e;
    color:#fff;
    height: 100px;
    padding:15px;
    border:none;
    transition:0.9 ease-in-out;
    outline: none;
}
.NextPrev:hover{
    background: #fff;
    color: #1e015e;
    transition:0.9 ease-in-out;
}

/* big previous & next buttons hide */
.flickity-prev-next-button {
    background: #1e015e;
    color:#fff;
    position:relative;
    top:120px;
    left: 90%;
    padding:60px 15px;
    border:none;
    transition:0.9 ease-in-out;
    outline: none;
    border-radius: 0px;
  }
/* section 5  */
.card-image{
    width:110%;
    height:250px;
    position:relative;
    right:17px;
    background: #9058F2 0% 0% no-repeat padding-box;
    border-radius: 12px 12px 0px 0px;
    opacity: 0.29;
}

.overflow{
    overflow:hidden;
}

  
/* Section 6 */
#section6{
    background: #360263 url('../images/Group\ 515.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    
}

.dasheddot{
    width:28px;
    height:6px;
    border-radius: 20px;
    background: #7E35FE;
    margin-left: 15px;
     
}
.smalldot{
    width:9px;
    height:9px;
    border-radius: 100%;
    background: #f6f2fc;
    margin-left:15px;
}

input[type="text"]{
    border:none;
    outline:none;
    border-bottom: 2px solid #9058F2;
    margin-bottom:70px;
    transition:0.5s ease-in-out;
}
input[type="text"]:hover,input[type="text"]:focus   {
    border-bottom: 3px solid #430064;
    
}


/* section 7 */
#section7{
    background: #360263 url('../images/doted\ background\ contact\ us.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
}
#emailinput{
    outline: none;
    border:none;
    background: #10014F 0% 0% no-repeat padding-box;
    box-shadow: 4px 8px 16px #00000014;
    padding:40px;
    border-top-left-radius: 145px;
    border-bottom-left-radius: 145px;
    color:#fff;
}
#go{
    outline: none;
    border:none;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 4px 8px 16px #00000014;
    padding:10px 40px;
    border-top-right-radius: 145px;
    border-bottom-right-radius: 145px;
    
}
#emailinput::placeholder{
    color: #fff;
}


/* Footer  */
footer a{
    color:#fff;
    transition: cubic-bezier(0.175, 0.885, 0.32, 1.275);
    line-height:35px;
    transition: 0.4s ease-in;

}
footer a:hover,a:focus{
    color:#9058F2;
   
}
.footer-below{
    overflow:hidden;
    border-top:2px solid #7E35FE;
    width:100%;

}
@media only screen and (max-width: 600px) {
    #dotsandimages,#tabwall,#upperTri ,#section5Dotted{
      display:none;
    }
          /* Section 3 */
          .outerElipse{
            width: 40vw;
            height: 40vw;
            background: #f6f2fc;
            border-radius: 100%;
            display: inline-block;
            position:relative;
            left:20vw;
    
        }
        .innerElipse{  
            width: 30vw;
            height: 30vw;
    
            display: inline-block;
            background: #7E35FE;
            border-radius: 100%;
            position:absolute;
            left:5vw; 
            top:12%; 
            
        }
        /* big previous & next buttons hide */
.flickity-prev-next-button {
    background: #1e015e;
    color:#fff;
    position:relative;
    top:120px;
    left: 75%;
    padding:60px 15px;
    border:none;
    transition:0.9 ease-in-out;
    outline: none;
    border-radius: 0px;
    margin: 50px 0;
  }
  }


@media only screen and (max-width: 767px) {
    #dotsandimages,#tabwall,#upperTri ,#section5Dotted{
        display:none;
      }
      .outerElipse{
        width: 40vw;
        height: 40vw;
        background: #f6f2fc;
        border-radius: 100%;
        display: inline-block;
        position:relative;
        left:20vw;

    }
    .innerElipse{  
        width: 30vw;
        height: 30vw;

        display: inline-block;
        background: #7E35FE;
        border-radius: 100%;
        position:absolute;
        left:5vw; 
        top:12%; 
        
    }
}
  /* Portrait and Landscape */
@media only screen 
and (min-device-width: 768px) 
and (max-device-width: 1024px) 
and (-webkit-min-device-pixel-ratio: 1) {
    #tabwall,#upperTri ,#section5Dotted{
        display:none;
      }
      .card-image{
          width:120%;
      }
      #dotsandimages{
          margin-top:50px;
      }
      #mainimage{
          width:350px;
          height:300px;
          /* margin-right:10px; */
      }
      #upperdots,#lowerdots{
          height:150px;
          width:150px;
      }
      /* Section 3 */
    .outerElipse{
        width: 100px;
        height: 100px;
        background: #f6f2fc;
        border-radius: 100%;
        display: inline-block;
        position:relative;
        left:5%;

    }
    .innerElipse{
        width: 60px;
        height: 60px;
        display: inline-block;
        background: #7E35FE;
        border-radius: 100%;
        position:absolute;
        left:20%; 
        top:20%; 
        
    }
}






  